@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --main-font: "Roboto", sans-serif;
  --main-background-color: #f1f5f8;
  --card-background: #ffff;
  --secondary-color: #49a6e9;
  --card-border-radius: 5px;
  --button-color: #bb2525;
  --price-background: #ebf7ff;
  --success: green;
  --info: #617d98;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--main-font);
  background-color: var(--main-background-color);
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
}
.main-heading {
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}
.underline {
  width: 4.5rem;
  height: 0.25rem;
  background-color: var(--secondary-color);
  border-radius: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 620px;
  margin-bottom: 150px;
  background: var(--card-background);
  box-shadow: 4px 5px 13px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 5px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 5px 13px 0px rgba(0, 0, 0, 0.75);
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
}
.image {
  width: 620px;
  height: 310px;
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}
.description {
  margin: 20px 32px;
}
.description * {
  margin-bottom: 10px;
}
.description div {
  display: flex;
  justify-content: space-between;
}
.description p {
  color: var(--info);
}
.btn {
  align-self: center;
  margin-bottom: 35px;
}
button {
  background: none;
  border: 2px solid var(--button-color);
  border-radius: 10px;
  color: var(--button-color);
  width: 250px;
  height: 2.5rem;
  font-size: 1.25rem;
}
.price {
  color: var(--secondary-color);
  background-color: var(--price-background);
  border-radius: 2px;
  letter-spacing: 0.175rem;
}
a {
  color: var(--secondary-color);
  text-decoration: none;
}
.success {
  border: 2px solid green;
  color: var(--success);
}
